.footer-container {
    background: #000;
    padding: 2.5rem 10%;
    color: #fff;
    font-size: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer-copyright {
    display: flex;
    font-weight: 300;
}
.footer-socials {
    display: flex;
    gap: 10px;
    align-items: center;
}
.footer-img {
    width: 40px;
}
.footer-socials-icon {
    border: 1px solid grey;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    display: flex !important;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 13px;
}