.partners-container {
    padding: 1rem 10% 4rem;
}
.partners-ttl {
    color: #000;
    font-weight: 700;
    letter-spacing: 0.5px;
    font-size: 1.2rem;
    margin-bottom: 1rem;
}
.partners-list {
    display: flex;
    justify-content: left;
    align-items: center;
    position: relative;
}
.partners-list img {
    margin-right: 2.5rem;
}
.partners-list-logo {
    transform: scale(0.8);
}
.overlay {
    width: 100%;
    position: absolute;
    height: 100%;
    background: rgba(255, 255, 255, 50%);
    z-index: 2;
}